name: Container Build & Publish
on:
  workflow_call:

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  sast-trivy:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Run Trivy
        uses: tychodev321/workflow-templates/.github/actions/trivy@main
  sast-syft:
    permissions:
      contents: write # required to upload to the Dependency submission API
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Run Syft
        uses: tychodev321/workflow-templates/.github/actions/anchore-syft@main
  sast-grype:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Run Grype
        uses: tychodev321/workflow-templates/.github/actions/anchore-grype@main
  build:
    needs: [sast-trivy, sast-syft, sast-grype]
    outputs:
      outcome: ${{ steps.set-result.outputs.step-result }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    steps:
      - name: Deploy
        uses: tychodev321/workflow-templates/.github/actions/container-publish@main
        with:
          registry: ${{ env.REGISTRY }}
          image-name: ${{ env.IMAGE_NAME }}
          github-token: ${{ secrets.GITHUB_TOKEN }}