name: Deploy Python Module
on: 
  workflow_call:
    inputs:
      upload-test-results:
        description: 'Whether to upload test results or not.'
        required: false
        default: 'false'
        type: string
      upload-module:
        description: 'Whether to upload module or not.'
        required: false
        type: string
      enable-tests:
        description: 'Whether to run unit tests or not.'
        required: false
        default: 'true'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tychodev321/ubuntu-python:main
    steps:
      - name: Deploy
        uses: tychodev321/workflow-templates/.github/actions/build-python-module@main
        with:
          caching: 'true'
          enable-tests: ${{ inputs.enable-tests }}
          upload-test-results: ${{ inputs.upload-test-results }}
          upload-module: ${{ inputs.upload-module }}
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git status
          poetry version -s
          # git commit -m v$(poetry version -s)
          git tag v$(poetry version -s)
          # Push the version information
          git push origin main
          # git push origin --tags # Push the tags
        shell: bash