name: Deploy NextJS UI
on: 
  workflow_call:
    inputs:
      environments: # dev|test|acpt|prod
        description: The environment the deployment is for.
        required: false
        default: "['dev','test','acpt','prod']"
        type: string
      regions: # us-east-1|us-west-2
        description: The region the deployment is for.
        required: false
        default: "['us-east-1','us-west-2']"
        type: string
      app-base-dir:
        description: 'The App Base Directory.'
        required: false
        default: '.'
        type: string
      infra-base-dir:
        description: 'The Infra Base Directory.'
        required: false
        default: 'infra'
        type: string
      upload-test-results:
        description: 'Whether to upload test results or not.'
        required: false
        default: 'false'
        type: string
      run-bdd-test:
        description: 'Whether to run BDD Tests or not.'
        required: false
        default: 'false'
        type: string
      app-dockerfile:
        description: 'The App Dockerfile.'
        required: false
        default: 'Dockerfile'
        type: string
      deploy:
        description: 'Whether to deploy or not.'
        required: false
        default: 'true'
        type: string
      destroy:
        description: 'Whether to destroy or not.'
        required: false
        default: 'false'
        type: string
    outputs:
      result:
        description: The result of the deployment operation
        value: ${{ jobs.build.outputs.outcome }}

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    outputs:
      outcome: ${{ steps.set-result.outputs.step-result }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tychodev321/ubuntu-nodejs:latest
    permissions:
      contents: read
      packages: write
    steps:
      # - name: Run Build
      #   uses: tychodev321/workflow-templates/.github/actions/build-nodejs@main
      #   with:
      #     app-base-dir: ${{ github.event.inputs.app-base-dir }}
      #     upload-test-results: ${{ github.event.inputs.upload-test-results }}
      #     run-bdd-test: ${{ github.event.inputs.run-bdd-test }}
      #     caching: 'true'
      - name: Set result output
        id: set-result
        run: echo "step-result=success" >> $GITHUB_OUTPUT
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ${{ fromJson(inputs.environments) }}
        region: ${{ fromJson(inputs.regions) }}
    steps:
      - name: Deploy
        if: inputs.deploy == 'true'
        run: |
          echo "Deploying..."
          echo "${{ matrix.environment }}"
          echo "${{ matrix.region }}"
  destroy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ${{ fromJson(inputs.environments) }}
        region: ${{ fromJson(inputs.regions) }}
    steps:
      - name: Destroy
        if: inputs.destroy == 'true'
        run: |
          echo "Destroying..."
          echo "${{ matrix.environment }}"
          echo "${{ matrix.region }}"